*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family:gilroy;}

html,
body{
    height: 100%;
    width: 100%;
}

/* #box1{
    height: 200px;
    width:200px;
    background-color: crimson;
}
#box2{
    height: 200px;
    width:200px;
    background-color: rgb(20, 220, 90);
}
#box3{
    height: 200px;
    width:200px;
    background-color: rgb(20, 127, 220);
} */

#nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:15px 10px 10px;
    color:rgb(13, 12, 12);

}
#part2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:50px;
}
h1{
    margin-left:50px;
}
h3{
    text-align: center;
    font-size: 100px;
}