body{
    background-color:rgb(21, 19, 19);
    color:azure;
}
.left-container{
    display: block;
    position: absolute;
    margin-top:5px;
    padding:0 22px;
    background-color: #201f1f;
    height:100vh;
    width:220px;
    border-radius: 9px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-right{
    display: block;
    padding:0 22px;
    margin-top:19px;
    margin-left: 17%;
     border-radius: 9px;
    position:relative;
    display: flex;
    flex-direction: column;
    height:fit-content;
    width: 180vh;
     background-color: #201f1f;
     
}
li{
    list-style: none;
}
.profile{
    margin-left: 0px;
    background-color: rgb(244, 233, 233);
    height:54px;
    width:50px;
    border-radius: 50%;
    overflow-y: hidden;

}
.profile-section{
    gap: 15px;
    display: flex;
    flex-direction: row;
}
img{
    height:100%;
    width:100%;
    object-fit: cover;
}
li{
    margin-top: 15px;
    font-size: 20px;
}
.image{
    height:250px;
    width:230px;
}